@page "/bankaccounts"

@using RaceVenturaWebApp.Shared
@using RaceVenturaWebApp.Shared.Models;
@using Microsoft.AspNetCore.Authorization

@inject HttpClient Http

@attribute [Authorize()]

<PageTitle>Bank Accounts</PageTitle>

<h1>Bank Accounts</h1>

<p>
    <label>
        New title
        <input @bind="newbankAccountName" />
    </label>
    <button @onclick="AddBankAccount">
        Update heading
    </button>
</p>

@if (bankAccounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bankAccount in bankAccounts)
            {
                <tr>
                    <td>@bankAccount.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string newbankAccountName = "";
    private Race[]? bankAccounts;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadBankAccounts();
        }
        catch (Exception ex)
        {
            bankAccounts = new[] { new Race(Guid.NewGuid(), $"Frontend error: {ex.Message}") };
        }        
    }

    protected async Task AddBankAccount()
    {
        var bankAccount = new Race(Guid.Empty, newbankAccountName);
        await Http.PostAsJsonAsync<Race>("/api/AddBankAccount", bankAccount);
        await LoadBankAccounts();
    }

    private async Task LoadBankAccounts()
    {
        bankAccounts = await Http.GetFromJsonAsync<Race[]>("/api/GetBankAccounts") ?? new Race[] { };
    }
}
